.top-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;

    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 25px;

    color: var(--text-second-color);

    background-color: #767d83;
    border-radius: 100px 0px 0px 0px;
    transition: background-color var(--transition-time), var(--transition-function), opacity var(--transition-time),
        var(--transition-function);
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 0;
    visibility: hidden;

    &:hover {
        background-color: var(--accent-color);
    }

    &--is-show {
        opacity: 1;
        visibility: visible;
    }
}

.top-btn__icon {
    width: 30px;
    fill: currentColor;
}