.top-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;

    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 25px;

    color: var(--text-main-color);

    background-color: var(--second-bcg-color);
    border-radius: 100px 0px 0px 0px;
    transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function);
    cursor: pointer;
    border: none;
    outline: none;

    &:hover {
        color: var(--text-second-color);
        background-color: var(--accent-color);
    }
}

.top-btn__icon {
    width: 30px;
    fill: currentColor;
}