.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include mq(mobile) {
    width: 320px;
  }

  @include mq(tablet) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(desktop) {
    width: 1024px;
  }
}

.section {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;

  @include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.page-navigation {
  display: flex;
  width: 410px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  @include mq(mobile-only) {
    width: 55vw;
    justify-content: space-between;
  }

  & > button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--second-bcg-color);
    stroke: rgb(0, 0, 0);

    @include mq(mobile-only) {
      width: 20vw;
      height: 10vh;
    }
  }

  & span {
    margin: 0 1px;
    text-align: center;
    padding-bottom: 8px;
    background-color: #fff;
  }

  & span.active {
    color: var(--second-bcg-color);
  }
}

.button-hidden {
  display: none;
}

.page-navigation-button__icon {
  fill-opacity: 0;
  stroke: inherit;
  @include mq(mobile-only) {
    width: 10vw;
    height: 5vh;
  }
}

.page-navigation-button__icon--rotate {
  transform: rotate(180deg);
}

.pages-list {
  display: flex;
  align-items: center;

  @include mq(mobile-only) {
    display: none;
  }

  & > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 1px;
    background-color: var(--second-bcg-color);

    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    @include font-size(12, 16, normal);
  }

  & > li.active {
    background-color: var(--accent-color);
    color: rgb(255, 255, 255);
  }
}
