.dark-mode-toggle {
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    color: #fff;
  }