@import 'swiper/swiper.scss';
@import 'swiper/modules/autoplay/autoplay.scss';
@import 'swiper/modules/navigation/navigation.scss';

.mySwiper {

    @media screen and (min-width:320px) {
        width: 210px;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 2px;
    }

    @media screen and (min-width:768px) {
        width: 620px;
    }

    @media screen and (min-width:1024px) {
        width: 875px;
    }
}

.swiper_wrap {
    padding-top: 10px;
    position: relative;
    background-color: var(--third-bcg-color);
}

.slider-title {
    text-align: center;
    color: #6a6a6a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.slide-poster {
    width: 100px;
    border-radius: 5px;
    transition: transform 0.2s linear;

    @media screen and (min-width:1024px) {
        &:hover {
            transform: scale(1.1);
        }

    }

}

.swiper-btn-color {
    color: var(--accent-color);
    transition: color 0.2s linear, background-color 0.2s linear;

    &:hover {
        color: var(--text-main-color);
    }
    @media screen and (max-width:320px) {
      display: none;
    }
}

.bounce-left {
    animation: bounce-left 2s infinite;
}

@keyframes bounce-left {

    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-5px);
    }

    60% {
        transform: translateX(-3px);
    }
}

.bounce-right {
    animation: bounce-right 2s infinite;
}

@keyframes bounce-right {

    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(3px);
    }

}