// Медиа запросы
@mixin mq($range) {
    $mobile: 320px;
    $tablet: 768px;
    $desktop: 1024px;

  @if $range ==mobile-only {
    @media screen and (max-width: ($tablet - 1)) {
      @content;
    }
  } @else if $range ==mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $range ==tablet-only {
    @media screen and (min-width: $tablet) and (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range ==tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $range ==desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  } @else if $range ==notDesktop {
    @media screen and (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range ==retina {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @content;
    }
  }
}

// Шрифты
@function decimal-round($number, $digits: 0, $mode: round) {
  $n: 1;
  // $number must be a number
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @if $digits > 0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }
  @if $mode == round {
    @return calc(round($number * $n) / $n);
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
  font-size: $font-size * 1px;

  @if $line-height==normal {
    line-height: normal;
  } @else {
    line-height: decimal-round(calc($line-height / $font-size), 2);
  }

  @if $letter-spacing==normal {
    letter-spacing: normal;
  } @else {
    letter-spacing: #{$letter-spacing}em;
  }
}
