:root {
    --text-main-color: #000000;
    --text-second-color: #FFFFFF;
    --text-footer-color: #545454;
    --text-error-color: #FF001B;

    --accent-color: #FF6B08;

    --header-bcg-color: rgba(0, 0, 0, 0.56);
    --main-bcg-color: #FFFFFF;
    --second-bcg-color: #F7F7F7;
    --backdrop-bcg-color: rgba(0, 0, 0, 0.25);

    --card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --border-radius: 5px;

    --transition-time: 300ms;
    --transition-function: inline;
}