<section class="auth-modal">
    <div class="auth-modal__backdrop visually-hidden">
        <div class="auth-modal__container">
            <!-- <button type="button" class="auth-modal__btn-close">X</button> -->
            <button class="auth-modal__btn-close" type="button">
                <svg class="button-close__icon">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <h2 class="auth-modal__title">Registration form</h2>
            <form class="auth-form">
                <ul class="auth-list">
                    <li class="auth-list__item"><label class="auth-form__username-label">Username:
                            <input class="auth-form__username-input" type="text" name="username"
                                placeholder="Enter your name" minlength="1">
                        </label>
                    </li>
                    <li class="auth-list__item"><label class="auth-form__email-label">Email:
                            <input class="auth-form__email-input" type="email" name="email" placeholder="Enter email">
                        </label>
                    </li>
                    <li class="auth-list__item"><label class="auth-form__password-label">Password:
                            <input class="auth-form__password-input" type="password" name="password" minlength="6"
                                placeholder="Enter password">
                        </label></li>
                </ul>
                <button class="auth-form__form-submit" type="submit">Apply</button>

            </form>

        </div>
    </div>

    </div>
</section>