
<section class="section">
    <div class="container">
        <ul class="gallery"></ul>
    </div>
        <div class="page-navigation">
            <button type="button" data-action="prev" class="button-hidden">
                <svg class="page-navigation-button__icon page-navigation-button__icon--rotate" width="16" height="16">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </button>
            <ul class="pages-list"></ul>
            <button type="button" data-action="next" class="button-hidden">
                <svg class="page-navigation-button__icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </button>
        </div>
</section>

