<header class="header">
    <div class="container header__container">
        <div class="navigation">
            <ul class="logo">
                <li class="logo__item"><a href="index.html" class="logo__link"><svg class="button__icon-arrow" width="24" height="24">
                    <use href="images/icons.svg#icon-film"></use>
                </svg></a></li>
                <li class="logo__item"><a href="index.html" class="logo__link logo__link--notmobile">Filmoteka</a></li>
            </ul>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="index.html" class="nav__link nav__link--default">HOME</a></li>
                    <li class="nav__item"><a href="./library.html" class="nav__link">MY LIBRARY</a></li>
                </ul>
            </nav>
        </div>
        <div class="search">
            <form class="search__form">
                <input class="search__input" type="text" name="query" placeholder="Movie Search" autocomplete="off">
                <button class="search__button" type="submit" ><svg class="button__icon-arrow" width="12" height="12">
                    <use href="images/icons.svg#icon-search"></use></svg></button>
            </form>
        </div>
        <div class="dark-mode-toggle__container">
            <button id="dark-mode-toggle" class="dark-mode-toggle">
                <div class="sun visible"></div>
                <div class="moon"><div class="star"></div>
                <div class="star small"></div>
            </button>
        </div>
        </div>
</header>